<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net45" />
  <package id="Magick.NET-Q8-AnyCPU" version="7.14.5" targetFramework="net45" />
  <package id="MaterialDesignColors" version="1.2.1" targetFramework="net45" />
  <package id="MaterialDesignThemes" version="3.0.0" targetFramework="net45" />
  <package id="NewLife.Cache" version="1.0.6791.1266" targetFramework="net45" />
  <package id="NewLife.Core" version="7.3.6790.27910" targetFramework="net45" />
</packages>